@charset "UTF-8";

.task_card{
/* 	border: 1px solid grey; */
	border-radius: 5px;
    width: 350px;
    padding: 10px 15px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_card_label{
	font-weight: bold;
}

.task_card_value{
	font-style: italic;
}

.task_card_row{
	 margin: 10px 0px;
}

.deadline{
	color: orange;
}

.message{
	font-weight: bold;
	color: red;
	padding: 10px;
	border: 0.5px solid grey;
	border-radius: 3px;
}
.icon-large{
	font-size: 45px;
}

.icon-large:hover{
	font-size: 50px;
}
.edit_button{
	background: none;
	border: none;
	cursor: pointer;
}
.action_button{
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.status_select{
	border: none;
	color: black;
	font-weight: bold;
	outline: none;
}

.table_header_link{
	color: black;
}

.status_select:focus{
	outline: none;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f6fa;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 18px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.nav_left{
    display: flex;
    align-items: center;
}

.nav_logo{
    height: 90px;  
    width: auto;
}

.navLinks a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #1e2a3a;
}

.navLinks a:hover{
    color: orange;
}

/* DASHBOARD CONTENT */
.container{
    padding: 25px;
}

h3{
    margin-top: 0;
    color: #1e2a3a;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* CARDS */
.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 18px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    border: 1px solid #ddd;
}

.card h4{
    margin: 0;
    font-size: 14px;
    color: gray;
}

.card p{
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    color: #1e2a3a;
}

/* TABLE */
.tableBox{
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ddd;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 14px;
}

th{
    background: #fafafa;
}


.add_timesheet_icon{
	cursor: pointer;
}

.info-button{
	background-color: #778899;
	font-weight: bold;
}

.delete-button-outline{
	border: 1px solid red;
	border-radius: 5px;
}
.submit-button{
	font-weight: bold;
	background-color: #2E8B57;
	color: white;
}

.status_success{
	background-color: #32cd32;
}

.status_error{
	background-color: #ff5349;
}

.alert_message{
	text-align: center;
	width: 100%;
}

.container_70{
	width: 70%;
	justify-self: center; 
	background-color: white;
	padding: 20px 50px;
	border-radius: 10px;
}


.nice-form{
  width: 50%;
  justify-self: center;
  background-color: white;
  padding: 20px 50px;
  border-radius: 10px;
}

.nice-form-group label{
  margin-top: 10px;
  margin-bottom: 5px;
  /* font-size: 1.2em; */
}

.nice-form-group{
  display: flex;
  flex-direction: column;
}


.nice-form-input{
  background-color: rgb(250, 250, 250);
  padding: 10px 10px;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 3px;
  font-size: 14px;
}

.submit_button{
  border: none;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: .875rem;
  background: #10b981;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  justify-self: center;
  margin: 10px 0px;;
}
.filter_section{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}