@charset "UTF-8";

/* Create Timesheet Section */

.back_button img{
	width: 25px;
	border-radius: 50%;
	padding: 10px;
	border: 0.5px solid lightgray;
	cursor: pointer;
}

.timesheet_container{
	padding: 1rem;
    background: white;
    height: 100vh;
}

.create_timesheet_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.description a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.description a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  flex-shrink: 0;
}

.pref {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(31 41 55 );
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: transparent;
}

.pref:hover {
  color: rgb(156 163 175);
}

.pref:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
  background-color: rgb(55 65 81);
}

.accept:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.entry_section{
    width: 40%;
}
#error_message{
    color: red;
    font-weight: bold;
}

.full_div_action_button{
	text-align: center;
}

/* Create timesheet ends */

/* Spinner outlier  */

.loader_outlier{
	position: absolute;
	background: grey;
	width: 100%;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
}

.loader_container{
    background-color: white;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid royalblue;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
	    transform: rotate(0deg);
	}
	100% {
	    transform: rotate(360deg);
	}
} 


/* Modal styles */

.modal_outlier{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #F7F8F8;
}
.modal_container{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 25%;
    padding: 20px;
    background-color: white;
}


.modal_header{
    text-align: center;
}

.modal_status_img{
    width: 25%;
}

.modal_body{
    text-align: center;
    /* font-weight: bold; */
}

.modal_action{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.modal_action_ok{
    background-color: "";
}

/* Modal styles ends */

.mobile_auth_page{
	height: 100vh;
	align-content: center;
}
.app_name_div{
	width: 100%;
	text-align: center;
}

.mandatory_symbol{
	color: red;
}

.container_70{
	width: 80%;
	justify-self: center; 
	background-color: white;
	padding: 20px 50px;
	border-radius: 10px;
	margin-top: 40px;
}

#task_card_array{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#task_section{
	display: flex;
    justify-content: space-around;
    overflow: scroll;
}

.task_card{
/* 	border: 1px solid grey; */
	border-radius: 5px;
    width: 280px;
    padding: 10px 15px;
    margin: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_card_label{
	font-weight: bold;
}

.task_card_value{
	font-style: italic;
}

.task_card_row{
	 margin: 10px 0px;
}

.deadline{
	color: orange;
}

.message{
	font-weight: bold;
	color: red;
	padding: 10px;
	border: 0.5px solid grey;
	border-radius: 3px;
}
.icon-large{
	font-size: 45px;
}

.icon-large:hover{
	font-size: 50px;
}
.edit_button{
	background: none;
	border: none;
	cursor: pointer;
	color: #10b981;
}
.action_button{
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.status_select{
	border: none;
	color: black;
	font-weight: bold;
	outline: none;
}

.table_header_link{
	color: black;
}

.status_select:focus{
	outline: none;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f6fa;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 18px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.nav_left{
    display: flex;
    align-items: center;
}

.nav_logo{
    height: 90px;  
    width: auto;
}

.navLinks a{
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #1e2a3a;
}

.navLinks a:hover{
    color: orange;
}

.navbar_menu{
  width: 30px;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  display: none;
}

/* DASHBOARD CONTENT */
.container{
    padding: 25px;
}

h3{
    margin-top: 0;
    color: #1e2a3a;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* CARDS */
.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 18px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    border: 1px solid #ddd;
}

.card h4{
    margin: 0;
    font-size: 14px;
    color: gray;
}

.card p{
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: bold;
    color: #1e2a3a;
}

/* TABLE */
.tableBox{
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ddd;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td{
    padding: 12px;
    /* border-bottom: 1px solid #eee; */
    text-align: left;
    align-content: center;
    font-size: 14px;
}

th{
    background: #fafafa;
}

.add_timesheet_icon{
	cursor: pointer;
}

.info-button{
	background-color: #778899;
	font-weight: bold;
}

.delete-button-outline{
	border: 1px solid red;
	border-radius: 5px;
}
.submit-button{
	font-weight: bold;
	background-color: #2E8B57;
	color: white;
}

.status_success{
	background-color: #32cd32;
}

.status_error{
	background-color: #ff5349;
}

.alert_message{
	text-align: center;
	width: 100%;
}

.nice-form{
  width: 40%;
  justify-self: center;
  background-color: white;
  padding: 0px 20px;
  border-radius: 10px;
}

.nice-form-group label{
  margin-top: 10px;
  margin-bottom: 5px;
  /* font-size: 1.2em; */
}

.nice-form-group{
  display: flex;
  flex-direction: column;
}


.nice-form-input{
  background-color: rgb(250, 250, 250);
  padding: 10px 10px;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 3px;
  font-size: 14px;
}

.submit_button{
  border: none;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: .875rem;
  background: #10b981;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  justify-self: center;
  margin: 10px 0px;
}

.reject_button{
  border: none;
  padding: .5em 1em;
  border-radius: 5px;
  font-size: .875rem;
  background: #BF302B;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  justify-self: center;
  margin: 10px 0px;
}
.filter_section{	
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 0px 10px;
}

.success_anchor{
	background-color: #10b981;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.info_anchor{
	background-color: royalblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.success_anchor:hover{
	background-color: rgb(192, 192, 192);
    color: black;
}

.info_anchor:hover{
	background-color: rgb(192, 192, 192);
    color: black;
}
.edit_anchor:hover{
	background-color: rgb(192, 192, 192);
    color: black;
}
.edit_anchor{
	background-color: #48A34D;
	color: white;
	padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.access_denied_container{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access_denied_img{
	width: 25%;
}

.access_denied_body{
	padding-right: 20px;
}

.timesheet_review_detail_with_image{
	display: grid;
    grid-template-columns: 3fr 1fr;
}
.timesheet_status_img_div{
	align-self: center;
}
.timesheet_status_img{
	width: 50%;
}

.display-flex{
	display: flex;
}


@media (max-width: 768px){
	.navLinks{
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 100px;
	  background-color: white;
	  width: 90%;
	  gap: 15px;
	  padding: 10px 5px;
	  text-align: right;
	}
	
	#task_section{
		flex-direction: column;
	}
	
	.timesheet_review_detail_with_image{
		grid-template-columns: 1fr;
		text-align: center;
	}
	
	.navbar_menu{
		display: block;
	}
}